<p class="validateTips">All fields are required.</p>

<form>
<fieldset>
	<label for="host">Host / IP</label>
	<input type="text" name="host" id="host" class="text ui-widget-content ui-corner-all" />
	<label for="port">Port</label>
	<input type="text" name="port" id="port" class="text ui-widget-content ui-corner-all" />
</fieldset>
</form>
